.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style-0,
.style-285 {
  background-color: #fff;
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style-0 {
  margin-left: 0;
  width: 1200px;
  height: 4479px
}
.style-285 {
  box-shadow: 0 0 10px 1px rgba(0,0,0,.09);
  position: relative;
  width: 100%;
  height: 76px;
  align-items: center;
  align-self: stretch
}
.-container-0-container-127-row-0 {
  display: flex;
  margin-top: 16px;
  width: 912px;
  height: 42px;
  align-items: center;
  flex-shrink: 0
}
.style-286 {
  margin-left: 0;
  width: 129px;
  height: 21px
}
.style-290 {
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  display: flex;
  margin-left: 157px;
  width: 546px;
  height: 100%;
  flex-direction: column;
  justify-content: center
}
.style-291 {
  background-color: #b8b8b8;
  margin-left: 16px;
  width: 16px;
  height: 17px
}
.style-287,
.style-288 {
  background-color: #5e5e5e;
  margin-left: 22px;
  width: 26px;
  height: 19px
}
.style-288 {
  margin-left: 14px;
  width: 19px
}
.style-282 {
  background-color: #fff;
  box-shadow: 0 0 9px 2px rgba(0,0,0,.2);
  position: relative;
  display: flex;
  margin-top: 16px;
  width: 100%;
  height: 54px;
  flex-direction: column;
  flex-shrink: 0
}
.style-283 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .6875em;
  letter-spacing: 1px;
  margin-top: 21px;
  height: 12px;
  align-self: center
}
.style-284 {
  background-color: #1b8bcc;
  margin-left: 275px;
  margin-top: 15px;
  width: 54px;
  height: 6px
}
.style-277 {
  background-color: #f5f5f5;
  opacity: .95;
  display: flex;
  margin-top: 48px;
  width: 100%;
  height: 409px;
  align-self: stretch;
  flex-direction: column
}
.style-278,
.style-279 {
  font-family: Montserrat,serif
}
.style-279 {
  height: 12px;
  color: #1b8bcc;
  font-size: 1em;
  margin-left: 565px;
  margin-top: 120px
}
.style-278 {
  color: #2b2b2b;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 62px;
  margin-left: 563px;
  margin-top: 20px;
  width: 411px
}
.style-280 {
  background-color: #1b8bcc;
  box-shadow: 5px 9px 14px 1px rgba(27,139,204,.49);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  margin-left: 562px;
  margin-top: 41px;
  width: 221px;
  height: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-281 {
  color: #fff;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .9375em;
  height: 11px
}
.style-259 {
  background-color: #f8f8f8;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 2px 4px 16px 1px rgba(35,35,35,.15);
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 131px;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.-container-0-container-114-row-0 {
  display: flex;
  width: 915px;
  height: 131px;
  align-items: stretch
}
.style-260 {
  background-color: #f8f8f8;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  margin-left: 0;
  width: 231px;
  flex-direction: column
}
.style-262 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  margin-left: 66px;
  margin-top: 41px;
  height: 14px
}
.style-261 {
  background-color: #1b8bcc;
  margin-left: 16px;
  margin-top: 0;
  width: 34px;
  height: 23px
}
.style-263 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 16px;
  margin-left: 67px;
  margin-top: 0;
  width: 133px
}
.style-264 {
  background-color: #f8f8f8;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  margin-left: 0;
  width: 231px;
  flex-direction: column
}
.style-266 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  margin-top: 41px;
  height: 14px;
  align-self: center
}
.-container-0-container-114-row-0-container-117-row-1 {
  position: relative;
  display: flex;
  margin-left: 19px;
  margin-top: 0;
  width: 182px;
  height: 27px
}
.style-265 {
  background-color: #1b8bcc;
  margin-left: 0;
  width: 32px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style-267 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 16px;
  position: relative;
  margin-left: 16px;
  margin-top: 15px;
  width: 133px;
  flex-shrink: 0
}
.style-268 {
  background-color: #f8f8f8;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  margin-left: 0;
  width: 229px;
  flex-direction: column
}
.style-270 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  margin-left: 65px;
  margin-top: 41px;
  height: 12px
}
.-container-0-container-114-row-0-container-119-row-1 {
  position: relative;
  display: flex;
  margin-left: 19px;
  margin-top: 0;
  width: 179px;
  height: 30px
}
.style-269 {
  background-color: #1b8bcc;
  margin-left: 0;
  width: 30px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style-271 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 16px;
  position: relative;
  margin-left: 16px;
  margin-top: 15px;
  width: 133px;
  flex-shrink: 0
}
.style-272 {
  background-color: #f8f8f8;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  margin-left: 0;
  width: 231px;
  flex-direction: column
}
.style-274 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  margin-left: 65px;
  margin-top: 41px;
  height: 14px
}
.-container-0-container-114-row-0-container-121-row-1 {
  position: relative;
  display: flex;
  margin-left: 22px;
  margin-top: 0;
  width: 177px;
  height: 30px
}
.style-273 {
  background-color: #1b8bcc;
  margin-left: 0;
  width: 27px;
  height: 100%;
  align-self: stretch;
  flex-shrink: 0
}
.style-275 {
  color: #1b8bcc;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 16px;
  position: relative;
  margin-left: 16px;
  margin-top: 15px;
  width: 133px;
  flex-shrink: 0
}
.-container-0-row-3 {
  display: flex;
  margin-top: 56px;
  width: 912px;
  height: 13px;
  align-items: stretch;
  align-self: center
}
.style-257,
.style-258 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: 1.0625em;
  margin-left: 0
}
.style-258 {
  color: #1b8bcc;
  font-size: .625em;
  margin-left: 696px
}
.-container-0-row-4 {
  display: flex;
  margin-top: 29px;
  width: 915px;
  height: 213px;
  align-items: stretch;
  align-self: center;
  justify-content: space-between
}
.style-223,
.style-228,
.style-233,
.style-238,
.style-243,
.style-248,
.style-253 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  width: 135px
}
.style-248,
.style-253 {
  position: relative;
  display: flex;
  flex-direction: column
}
.style-253 {
  background-color: #fff;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.16);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: .95;
  margin-left: 112px;
  margin-top: 80px;
  width: 44px;
  height: 43px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center
}
.style-254 {
  background-color: #000;
  width: 12px;
  height: 19px
}
.style-255 {
  background-color: #fff;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.16);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: .95;
  position: relative;
  display: flex;
  margin-left: 123px;
  margin-top: 841px;
  width: 42px;
  height: 43px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-256 {
  background-color: #000;
  width: 12px;
  height: 20px
}
.-container-0-row-6 {
  display: flex;
  margin-left: 144px;
  margin-top: 102px;
  width: 858px;
  height: 13px;
  align-items: stretch
}
.style-226,
.style-231,
.style-236,
.style-241,
.style-246,
.style-251 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .75em;
  letter-spacing: 1px;
  margin-left: 0
}
.style-231,
.style-236,
.style-241,
.style-246,
.style-251 {
  margin-left: 82px
}
.style-236,
.style-241,
.style-246,
.style-251 {
  margin-left: 52px
}
.style-241,
.style-246,
.style-251 {
  margin-left: 89px
}
.style-246,
.style-251 {
  margin-left: 84px
}
.style-251 {
  margin-left: 78px
}
.-container-0-row-7 {
  display: flex;
  margin-left: 145px;
  margin-top: 5px;
  width: 834px;
  height: 10px;
  align-items: stretch
}
.style-227,
.style-232,
.style-237,
.style-242,
.style-247,
.style-252 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 0
}
.style-232,
.style-237,
.style-242,
.style-247,
.style-252 {
  margin-left: 103px
}
.style-237,
.style-242,
.style-247,
.style-252 {
  margin-left: 89px
}
.style-242,
.style-247,
.style-252 {
  margin-left: 68px
}
.style-247,
.style-252 {
  margin-left: 70px
}
.style-252 {
  margin-left: 95px
}
.-container-0-row-8 {
  display: flex;
  margin-left: 142px;
  margin-top: 9px;
  width: 869px;
  height: 30px;
  align-items: stretch;
  justify-content: space-between
}
.style-224 {
  border-left: 2px solid #1b8bcc;
  border-right: 2px solid #1b8bcc;
  border-top: 2px solid #1b8bcc;
  border-bottom: 2px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 88px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-225 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  height: 11px
}
.style-229 {
  border-left: 2px solid #1b8bcc;
  border-right: 2px solid #1b8bcc;
  border-top: 2px solid #1b8bcc;
  border-bottom: 2px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 87px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-230 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  height: 11px
}
.style-234 {
  border-left: 2px solid #1b8bcc;
  border-right: 2px solid #1b8bcc;
  border-top: 2px solid #1b8bcc;
  border-bottom: 2px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 88px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-235 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  height: 11px
}
.style-239 {
  border-left: 2px solid #1b8bcc;
  border-right: 2px solid #1b8bcc;
  border-top: 2px solid #1b8bcc;
  border-bottom: 2px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 88px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-240 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  height: 11px
}
.style-244 {
  border-left: 2px solid #1b8bcc;
  border-right: 2px solid #1b8bcc;
  border-top: 2px solid #1b8bcc;
  border-bottom: 2px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 87px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-245 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  height: 11px
}
.style-249 {
  border-left: 2px solid #1b8bcc;
  border-right: 2px solid #1b8bcc;
  border-top: 2px solid #1b8bcc;
  border-bottom: 2px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 87px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-250 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  height: 11px
}
.-container-0-row-9 {
  display: flex;
  margin-top: 58px;
  width: 911px;
  height: 17px;
  align-items: center;
  align-self: center
}
.style-221,
.style-222 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: 1.0625em;
  margin-left: 0;
  height: 100%
}
.style-222 {
  color: #1b8bcc;
  font-size: .625em;
  margin-left: 717px;
  height: 9px
}
.-container-0-row-10 {
  display: flex;
  margin-top: 24px;
  width: 915px;
  height: 214px;
  align-items: stretch;
  align-self: center;
  justify-content: space-between
}
.style-157,
.style-167,
.style-177,
.style-187,
.style-197,
.style-207,
.style-217 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  width: 135px
}
.style-207,
.style-217 {
  position: relative;
  display: flex;
  flex-direction: column
}
.style-217 {
  background-color: #fff;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.16);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: .95;
  margin-left: 112px;
  margin-top: 80px;
  width: 44px;
  height: 43px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center
}
.style-218 {
  background-color: #000;
  width: 12px;
  height: 19px
}
.style-219 {
  background-color: #fff;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.16);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: .95;
  position: relative;
  display: flex;
  margin-left: 123px;
  margin-top: 1233px;
  width: 42px;
  height: 43px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-220 {
  background-color: #000;
  width: 12px;
  height: 20px
}
.-container-0-row-12 {
  display: flex;
  margin-top: 103px;
  width: 908px;
  height: 13px;
  align-items: stretch;
  align-self: center
}
.style-158,
.style-174,
.style-184,
.style-194,
.style-204,
.style-214 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .75em;
  letter-spacing: 1px;
  margin-left: 0
}
.style-174,
.style-184,
.style-194,
.style-204,
.style-214 {
  margin-left: 83px
}
.style-184,
.style-194,
.style-204,
.style-214 {
  margin-left: 107px
}
.style-194,
.style-204,
.style-214 {
  margin-left: 43px
}
.style-204,
.style-214 {
  margin-left: 48px
}
.style-214 {
  margin-left: 40px
}
.-container-0-row-13 {
  display: flex;
  margin-left: 144px;
  margin-top: 5px;
  width: 848px;
  height: 10px;
  align-items: stretch
}
.style-159,
.style-175,
.style-185,
.style-195,
.style-205,
.style-215 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 0
}
.style-175,
.style-185,
.style-195,
.style-205,
.style-215 {
  margin-left: 73px
}
.style-185,
.style-195,
.style-205,
.style-215 {
  margin-left: 69px
}
.style-195,
.style-205,
.style-215 {
  margin-left: 90px
}
.style-205,
.style-215 {
  margin-left: 89px
}
.style-215 {
  margin-left: 76px
}
.-container-0-row-14 {
  display: flex;
  margin-left: 143px;
  margin-top: 11px;
  width: 825px;
  height: 14px;
  align-items: stretch
}
.style-166,
.style-176,
.style-186,
.style-196,
.style-206,
.style-216 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .8125em;
  margin-left: 0
}
.style-176,
.style-186,
.style-196,
.style-206,
.style-216 {
  margin-left: 111px
}
.style-186,
.style-196,
.style-206,
.style-216 {
  margin-left: 114px
}
.style-196,
.style-206,
.style-216 {
  margin-left: 115px
}
.style-206,
.style-216 {
  margin-left: 112px
}
.-container-0-row-15 {
  display: flex;
  margin-top: 10px;
  width: 909px;
  height: 13px;
  align-items: center;
  align-self: center
}
.style-160,
.style-161,
.style-162,
.style-163,
.style-164 {
  background-color: #f7ca18;
  margin-left: 0;
  width: 13px;
  height: 100%
}
.style-161,
.style-162,
.style-163,
.style-164 {
  width: 12px
}
.style-162,
.style-163,
.style-164 {
  margin-left: 1px
}
.style-164 {
  margin-left: 0;
  width: 13px
}
.style-165 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 8px;
  height: 7px
}
.style-168 {
  background-color: #f7ca18;
  margin-left: 29px;
  width: 13px;
  height: 100%
}
.style-169,
.style-170,
.style-171,
.style-172 {
  background-color: #f7ca18;
  margin-left: 0;
  width: 12px;
  height: 100%
}
.style-170,
.style-171,
.style-172 {
  margin-left: 1px
}
.style-172 {
  margin-left: 0;
  width: 13px
}
.style-173 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 8px;
  height: 7px
}
.style-178 {
  background-color: #f7ca18;
  margin-left: 29px;
  width: 13px;
  height: 100%
}
.style-179,
.style-180,
.style-181,
.style-182 {
  background-color: #f7ca18;
  margin-left: 0;
  width: 12px;
  height: 100%
}
.style-180,
.style-181,
.style-182 {
  margin-left: 1px
}
.style-182 {
  margin-left: 0;
  width: 13px
}
.style-183 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 8px;
  height: 7px
}
.style-188 {
  background-color: #f7ca18;
  margin-left: 29px;
  width: 13px;
  height: 100%
}
.style-189,
.style-190,
.style-191,
.style-192 {
  background-color: #f7ca18;
  margin-left: 0;
  width: 12px;
  height: 100%
}
.style-190,
.style-191,
.style-192 {
  margin-left: 1px
}
.style-192 {
  margin-left: 0;
  width: 13px
}
.style-193 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 8px;
  height: 7px
}
.style-198 {
  background-color: #f7ca18;
  margin-left: 27px;
  width: 13px;
  height: 100%
}
.style-199,
.style-200,
.style-201,
.style-202 {
  background-color: #f7ca18;
  margin-left: 0;
  width: 12px;
  height: 100%
}
.style-200,
.style-201,
.style-202 {
  margin-left: 1px
}
.style-202 {
  margin-left: 0;
  width: 13px
}
.style-203 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 8px;
  height: 7px
}
.style-208 {
  background-color: #f7ca18;
  margin-left: 28px;
  width: 13px;
  height: 100%
}
.style-209,
.style-210,
.style-211,
.style-212 {
  background-color: #f7ca18;
  margin-left: 0;
  width: 12px;
  height: 100%
}
.style-210,
.style-211,
.style-212 {
  margin-left: 1px
}
.style-212 {
  margin-left: 0;
  width: 13px
}
.style-213 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  margin-left: 8px;
  height: 7px
}
.-container-0-row-16 {
  display: flex;
  margin-top: 56px;
  width: 100%;
  height: 353px;
  align-items: stretch;
  align-self: stretch
}
.style-137,
.style-151 {
  margin-left: 0;
  width: 143px
}
.style-137 {
  background-color: #2b2b2b;
  opacity: .1;
  display: flex;
  width: 915px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.-container-0-row-16-container-47-row-0,
.style-155 {
  display: flex;
  width: 872px;
  height: 274px
}
.style-155 {
  background-color: #fff;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.16);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: .8;
  margin-left: 0;
  width: 44px;
  height: 43px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.style-156 {
  background-color: #d24720;
  width: 12px;
  height: 20px
}
.style-138 {
  background-color: #515d67;
  box-shadow: 0 0 17px 5px rgba(89,12,0,.34);
  margin-left: 58px;
  width: 179px;
  height: 100%;
  align-self: stretch
}
.-container-0-row-16-container-47-row-0-column-2 {
  display: flex;
  margin-left: 54px;
  width: 183px;
  height: 147px;
  align-self: center;
  flex-direction: column
}
.style-147 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: 1.75em;
  font-weight: 700;
  margin-top: 0;
  height: 23px
}
.-container-0-row-16-container-47-row-0-column-2-row-1 {
  display: flex;
  margin-top: 15px;
  width: 160px;
  height: 19px;
  align-items: stretch
}
.style-150 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: 1.125em;
  font-weight: 300;
  margin-left: 0
}
.style-139 {
  background-color: #f7ca18;
  margin-left: 17px;
  width: 16px
}
.style-140,
.style-141,
.style-142,
.style-143 {
  background-color: #f7ca18;
  margin-left: 1px;
  width: 16px
}
.style-149 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 300;
  margin-top: 15px;
  height: 12px
}
.style-145 {
  background-color: #fff;
  box-shadow: 0 0 17px 5px rgba(89,12,0,.34);
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  display: flex;
  margin-top: 21px;
  width: 100%;
  height: 41px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-146 {
  color: #d1441f;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .8125em;
  height: 10px
}
.-container-0-row-16-container-47-row-0-column-3 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 71px;
  width: 219px;
  height: 48px;
  flex-direction: column
}
.style-144,
.style-148 {
  color: #fff;
  font-family: Montserrat,serif;
  font-weight: 300;
  flex-shrink: 0
}
.style-148 {
  letter-spacing: 1px;
  position: relative;
  margin-left: 9px;
  font-size: 1.125em;
  margin-top: 0;
  height: 16px
}
.style-144 {
  font-size: .6875em;
  margin-top: 21px;
  height: 11px
}
.style-153 {
  background-color: #fff;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.16);
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: .8;
  display: flex;
  margin-left: 828px;
  width: 44px;
  height: 43px;
  align-items: center;
  align-self: center;
  flex-direction: column;
  justify-content: center
}
.style-154 {
  background-color: #d24720;
  width: 12px;
  height: 19px
}
.style-152 {
  margin-left: 0;
  width: 143px
}
.style-135 {
  color: #2b2b2b;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.0625em;
  margin-top: 56px;
  height: 12px;
  align-self: center
}
.-container-0-row-18 {
  display: flex;
  margin-top: 28px;
  width: 332px;
  height: 76px;
  align-items: stretch;
  align-self: center;
  justify-content: space-between
}
.style-123 {
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 68px;
  align-items: center;
  flex-direction: column
}
.style-124,
.style-125 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.75em;
  margin-top: 19px;
  height: 23px
}
.style-125 {
  color: #5e5e5e;
  font-size: .5625em;
  font-weight: 300;
  margin-top: 8px;
  height: 7px
}
.style-126 {
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 68px;
  align-items: center;
  flex-direction: column
}
.style-127,
.style-128 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.75em;
  margin-top: 18px;
  height: 23px
}
.style-128 {
  color: #5e5e5e;
  font-size: .5625em;
  font-weight: 300;
  margin-top: 8px;
  height: 7px
}
.style-129 {
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 68px;
  align-items: center;
  flex-direction: column
}
.style-130,
.style-131 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.75em;
  margin-top: 19px;
  height: 23px
}
.style-131 {
  color: #5e5e5e;
  font-size: .5625em;
  font-weight: 300;
  margin-top: 9px;
  height: 7px
}
.style-132 {
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  width: 68px;
  align-items: center;
  flex-direction: column
}
.style-133,
.style-134 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.75em;
  margin-top: 18px;
  height: 23px
}
.style-134 {
  color: #5e5e5e;
  font-size: .5625em;
  font-weight: 300;
  margin-top: 9px;
  height: 7px
}
.-container-0-row-19 {
  display: flex;
  margin-top: 54px;
  width: 915px;
  height: 213px;
  align-items: stretch;
  align-self: center;
  justify-content: space-between
}
.style-81,
.style-82 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  display: flex;
  width: 135px;
  flex-direction: column
}
.style-82 {
  background-color: #f7ca18;
  box-shadow: 3px 2px 4px 1px rgba(0,0,0,.2);
  margin-top: 17px;
  width: 87px;
  height: 34px;
  align-items: center;
  justify-content: center
}
.style-83 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 11px
}
.style-88,
.style-89 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  display: flex;
  width: 135px;
  flex-direction: column
}
.style-89 {
  background-color: #f7ca18;
  box-shadow: 3px 2px 4px 1px rgba(0,0,0,.2);
  margin-top: 17px;
  width: 87px;
  height: 34px;
  align-items: center;
  justify-content: center
}
.style-90 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 11px
}
.style-95,
.style-96 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  display: flex;
  width: 133px;
  flex-direction: column
}
.style-96 {
  background-color: #f7ca18;
  box-shadow: 3px 2px 4px 1px rgba(0,0,0,.2);
  margin-top: 17px;
  width: 88px;
  height: 34px;
  align-items: center;
  justify-content: center
}
.style-97 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 11px
}
.style-102,
.style-103 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  display: flex;
  width: 135px;
  flex-direction: column
}
.style-103 {
  background-color: #f7ca18;
  box-shadow: 3px 2px 4px 1px rgba(0,0,0,.2);
  margin-top: 17px;
  width: 87px;
  height: 34px;
  align-items: center;
  justify-content: center
}
.style-104 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 11px
}
.style-109,
.style-110 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  display: flex;
  width: 135px;
  flex-direction: column
}
.style-110 {
  background-color: #f7ca18;
  box-shadow: 3px 2px 4px 1px rgba(0,0,0,.2);
  margin-top: 17px;
  width: 87px;
  height: 34px;
  align-items: center;
  justify-content: center
}
.style-111 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 11px
}
.style-116,
.style-117 {
  background-color: #79858f;
  box-shadow: 0 0 11px 3px rgba(0,0,0,.07);
  display: flex;
  width: 133px;
  flex-direction: column
}
.style-117 {
  background-color: #f7ca18;
  box-shadow: 3px 2px 4px 1px rgba(0,0,0,.2);
  margin-top: 16px;
  width: 89px;
  height: 34px;
  align-items: center;
  justify-content: center
}
.style-118 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .8125em;
  font-weight: 700;
  height: 11px
}
.-container-0-row-20 {
  position: relative;
  display: flex;
  margin-left: 144px;
  margin-top: 12px;
  width: 899px;
  height: 13px;
  align-items: stretch
}
.style-105,
.style-112,
.style-119,
.style-84,
.style-91,
.style-98 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: .75em;
  letter-spacing: 1px;
  flex-shrink: 0
}
.style-84 {
  position: relative;
  margin-left: 0
}
.style-105,
.style-112,
.style-119,
.style-91,
.style-98 {
  margin-left: 50px
}
.style-105,
.style-112,
.style-119,
.style-98 {
  margin-left: 37px
}
.style-105,
.style-112,
.style-119 {
  margin-left: 30px
}
.style-112,
.style-119 {
  margin-left: 42px
}
.style-119 {
  margin-left: 79px
}
.-container-0-row-21 {
  display: flex;
  margin-left: 144px;
  margin-top: 6px;
  width: 856px;
  height: 10px;
  align-items: stretch
}
.style-106,
.style-113,
.style-120,
.style-85,
.style-92,
.style-99 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 0
}
.style-106,
.style-113,
.style-120,
.style-92,
.style-99 {
  margin-left: 85px
}
.style-106,
.style-113,
.style-120,
.style-99 {
  margin-left: 94px
}
.style-106,
.style-113,
.style-120 {
  margin-left: 100px
}
.style-113,
.style-120 {
  margin-left: 78px
}
.style-120 {
  margin-left: 72px
}
.-container-0-row-22 {
  position: relative;
  display: flex;
  margin-left: 144px;
  margin-top: 10px;
  width: 876px;
  height: 16px;
  align-items: stretch
}
.style-86 {
  color: #5e5e5e;
  font-size: .6875em;
  text-decoration: linethrough solid #5e5e5e;
  margin-left: 0
}
.style-86,
.style-87,
.style-93 {
  font-family: Montserrat,serif;
  flex-shrink: 0
}
.style-87 {
  position: relative;
  color: #1b8bcc;
  font-size: .9375em;
  margin-left: 7px
}
.style-93 {
  color: #5e5e5e;
  font-size: .6875em;
  text-decoration: linethrough solid #5e5e5e;
  margin-left: 58px
}
.style-94 {
  color: #1b8bcc;
  font-size: .9375em;
  position: relative;
  margin-left: 10px
}
.style-100,
.style-101,
.style-94 {
  font-family: Montserrat,serif;
  flex-shrink: 0
}
.style-100 {
  text-decoration: linethrough solid #5e5e5e;
  color: #5e5e5e;
  font-size: .6875em;
  margin-left: 61px
}
.style-101 {
  color: #1b8bcc;
  font-size: .9375em;
  position: relative;
  margin-left: 9px
}
.style-107 {
  color: #5e5e5e;
  font-size: .6875em;
  text-decoration: linethrough solid #5e5e5e;
  margin-left: 62px
}
.style-107,
.style-108,
.style-114 {
  font-family: Montserrat,serif;
  flex-shrink: 0
}
.style-108 {
  position: relative;
  color: #1b8bcc;
  font-size: .9375em;
  margin-left: 9px
}
.style-114 {
  color: #5e5e5e;
  font-size: .6875em;
  text-decoration: linethrough solid #5e5e5e;
  margin-left: 61px
}
.style-115 {
  color: #1b8bcc;
  font-size: .9375em;
  position: relative;
  margin-left: 7px
}
.style-115,
.style-121,
.style-122 {
  font-family: Montserrat,serif;
  flex-shrink: 0
}
.style-121 {
  text-decoration: linethrough solid #5e5e5e;
  color: #5e5e5e;
  font-size: .6875em;
  margin-left: 65px
}
.style-122 {
  color: #1b8bcc;
  font-size: .9375em;
  margin-left: 7px
}
.style-59 {
  background-color: #f5f5f5;
  display: flex;
  margin-top: 55px;
  width: 100%;
  height: 566px;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style-80 {
  color: #2b2b2b;
  font-family: Montserrat,serif;
  font-size: 1.0625em;
  margin-top: 58px;
  height: 12px
}
.-container-0-container-24-row-1 {
  display: flex;
  margin-top: 56px;
  width: 915px;
  height: 271px;
  align-items: stretch;
  justify-content: space-between
}
.style-62 {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
  display: flex;
  width: 291px;
  flex-direction: column
}
.style-63 {
  background-color: #b8b8b8;
  margin-top: 0;
  width: 100%;
  height: 111px;
  align-self: stretch
}
.style-64,
.style-66 {
  font-family: Montserrat,serif
}
.style-66 {
  font-weight: 300;
  height: 9px;
  color: #8a8989;
  font-size: .5625em;
  margin-left: 17px;
  margin-top: 18px
}
.style-64 {
  color: #2b2b2b;
  font-size: .8125em;
  line-height: 24px;
  margin-left: 18px;
  margin-top: 9px;
  width: 244px
}
.style-65,
.style-67 {
  font-family: Montserrat,serif;
  font-size: .5625em
}
.style-65 {
  font-weight: 300;
  line-height: 19px;
  width: 248px;
  align-self: center;
  color: #8a8989;
  margin-top: 16px
}
.style-67 {
  color: #1b8bcc;
  margin-left: 18px;
  margin-top: 18px;
  height: 7px
}
.style-68 {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
  display: flex;
  width: 291px;
  flex-direction: column
}
.style-69 {
  background-color: #b8b8b8;
  margin-top: 0;
  width: 100%;
  height: 111px;
  align-self: stretch
}
.style-70,
.style-72 {
  font-family: Montserrat,serif
}
.style-72 {
  font-weight: 300;
  margin-left: 18px;
  height: 9px;
  color: #8a8989;
  font-size: .5625em;
  margin-top: 18px
}
.style-70 {
  color: #2b2b2b;
  font-size: .8125em;
  line-height: 24px;
  margin-top: 9px;
  width: 253px;
  align-self: center
}
.style-71,
.style-73 {
  font-family: Montserrat,serif;
  font-size: .5625em
}
.style-71 {
  font-weight: 300;
  line-height: 19px;
  width: 248px;
  align-self: center;
  color: #8a8989;
  margin-top: 16px
}
.style-73 {
  color: #1b8bcc;
  margin-left: 19px;
  margin-top: 18px;
  height: 7px
}
.style-74 {
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
  display: flex;
  width: 291px;
  flex-direction: column
}
.style-75 {
  background-color: #b8b8b8;
  margin-top: 0;
  width: 100%;
  height: 111px;
  align-self: stretch
}
.style-76,
.style-78 {
  font-family: Montserrat,serif;
  margin-left: 18px
}
.style-78 {
  font-weight: 300;
  height: 9px;
  color: #8a8989;
  font-size: .5625em;
  margin-top: 18px
}
.style-76 {
  color: #2b2b2b;
  font-size: .8125em;
  line-height: 24px;
  margin-top: 9px;
  width: 235px
}
.style-77,
.style-79 {
  font-family: Montserrat,serif;
  font-size: .5625em
}
.style-77 {
  font-weight: 300;
  line-height: 19px;
  width: 248px;
  align-self: center;
  color: #8a8989;
  margin-top: 19px
}
.style-79 {
  color: #1b8bcc;
  margin-left: 19px;
  margin-top: 18px;
  height: 7px
}
.style-60 {
  background-color: #f5f5f5;
  border-left: 1px solid #1b8bcc;
  border-right: 1px solid #1b8bcc;
  border-top: 1px solid #1b8bcc;
  border-bottom: 1px solid #1b8bcc;
  display: flex;
  margin-top: 55px;
  width: 915px;
  height: 57px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-48,
.style-61 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .6875em;
  height: 9px
}
.style-48 {
  color: #2b2b2b;
  font-size: 1.0625em;
  margin-top: 56px;
  height: 12px;
  align-self: center
}
.-container-0-row-26,
.style-49 {
  margin-top: 57px;
  align-self: center
}
.style-49 {
  color: #2b2b2b;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .875em;
  font-weight: 300;
  line-height: 28px;
  font-style: italic;
  width: 643px
}
.-container-0-row-26 {
  display: flex;
  width: 423px;
  height: 80px;
  align-items: stretch;
  justify-content: space-between
}
.style-56 {
  opacity: .4
}
.style-50,
.style-53,
.style-56 {
  background-color: #5e5e5e;
  border-left: 4px solid #fff;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  border-top-left-radius: 41px;
  border-top-right-radius: 41px;
  border-bottom-left-radius: 41px;
  border-bottom-right-radius: 41px;
  width: 80px
}
.style-53 {
  opacity: .4
}
.-container-0-row-27 {
  display: flex;
  margin-left: 379px;
  margin-top: 19px;
  width: 432px;
  height: 13px;
  align-items: stretch
}
.style-57 {
  color: rgba(43,43,43,.4);
  margin-left: 0
}
.style-51,
.style-54,
.style-57 {
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .75em
}
.style-51 {
  color: #2b2b2b;
  margin-left: 64px
}
.style-54 {
  color: rgba(43,43,43,.4);
  margin-left: 74px
}
.-container-0-row-28 {
  display: flex;
  margin-left: 390px;
  margin-top: 11px;
  width: 401px;
  height: 9px;
  align-items: stretch
}
.style-58 {
  color: rgba(43,43,43,.4);
  margin-left: 0
}
.style-52,
.style-55,
.style-58 {
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .625em;
  font-weight: 300
}
.style-52 {
  color: #2b2b2b;
  margin-left: 104px
}
.style-55 {
  color: rgba(43,43,43,.4);
  margin-left: 124px
}
.style-45 {
  background-color: #1b8bcc;
  opacity: .8;
  display: flex;
  margin-top: 57px;
  width: 100%;
  height: 353px;
  align-items: center;
  align-self: stretch;
  flex-direction: column
}
.style-47 {
  background-color: #fff;
  margin-top: 118px;
  width: 56px;
  height: 58px
}
.style-46 {
  color: #fff;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.75em;
  margin-top: 33px;
  height: 23px
}
.-container-0-row-30 {
  display: flex;
  margin-top: 54px;
  width: 915px;
  height: 161px;
  align-items: stretch;
  align-self: center;
  justify-content: space-between
}
.style-32 {
  background-color: #f8f8f8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  width: 291px;
  align-items: center;
  flex-direction: column
}
.style-33 {
  background-color: #1b8bcc;
  margin-top: 36px;
  width: 26px;
  height: 24px
}
.style-34,
.style-35 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 14px;
  height: 22px
}
.style-35 {
  font-size: .8125em;
  font-weight: 300;
  margin-top: 13px;
  height: 13px
}
.style-36 {
  background-color: #f8f8f8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  width: 291px;
  align-items: center;
  flex-direction: column
}
.style-39 {
  background-color: #1b8bcc;
  margin-top: 36px;
  width: 25px;
  height: 24px
}
.style-37,
.style-38 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 14px;
  height: 22px
}
.style-38 {
  font-size: .8125em;
  font-weight: 300;
  margin-top: 12px;
  height: 11px
}
.style-40 {
  background-color: #f8f8f8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  width: 291px;
  align-items: center;
  flex-direction: column
}
.style-43 {
  background-color: #1b8bcc;
  margin-top: 34px;
  width: 29px;
  height: 27px
}
.style-41,
.style-42 {
  color: #1b8bcc;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 13px;
  height: 22px
}
.style-42 {
  font-size: .8125em;
  font-weight: 300;
  margin-top: 12px;
  height: 11px
}
.style-26 {
  background-color: #fff;
  border-left: 1px solid #1b8bcc;
  border-right: 1px solid #1b8bcc;
  border-top: 1px solid #1b8bcc;
  border-bottom: 1px solid #1b8bcc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: .96;
  display: flex;
  margin-top: 55px;
  width: 915px;
  height: 158px;
  align-items: center;
  align-self: center;
  flex-direction: column
}
.style-31 {
  color: #2b2b2b;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 1em;
  font-weight: 700;
  margin-top: 43px;
  height: 13px
}
.style-1 {
  background-color: #1b8bcc;
  position: relative;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 299px;
  align-self: stretch;
  flex-direction: column
}
.-container-0-container-1-row-0 {
  display: flex;
  margin-top: 0;
  width: 581px;
  height: 41px;
  align-items: stretch;
  align-self: center;
  flex-shrink: 0
}
.style-27 {
  background-color: #fff;
  border-left: 1px solid #b8b8b8;
  border-right: 1px solid #b8b8b8;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  display: flex;
  margin-left: 0;
  width: 415px;
  flex-direction: column;
  justify-content: center
}
.style-28 {
  color: #5e5e5e;
  font-family: Montserrat,serif;
  font-size: .625em;
  font-weight: 300;
  margin-left: 25px;
  height: 11px
}
.style-29 {
  background-color: #1b8bcc;
  box-shadow: 5px 9px 14px 1px rgba(27,139,204,.49);
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  display: flex;
  margin-left: 18px;
  width: 148px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-30 {
  color: #fff;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: .6875em;
  height: 9px
}
.-container-0-container-1-row-1 {
  display: flex;
  margin-left: 385px;
  margin-top: 91px;
  width: 593px;
  height: 23px;
  align-items: center;
  flex-shrink: 0
}
.style-8 {
  background-color: #fff;
  margin-left: 0;
  width: 22px;
  height: 100%
}
.style-6 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .6875em;
  margin-left: 8px;
  height: 9px
}
.style-10 {
  background-color: #fff;
  margin-left: 88px;
  width: 19px;
  height: 100%
}
.style-9 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .6875em;
  margin-left: 11px;
  height: 9px
}
.style-18 {
  background-color: #fff;
  margin-left: 48px;
  width: 21px;
  height: 100%
}
.style-17 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .6875em;
  margin-left: 9px;
  height: 9px
}
.-container-0-container-1-row-2 {
  position: relative;
  display: flex;
  margin-left: 144px;
  margin-top: 13px;
  width: 881px;
  height: 58px;
  flex-shrink: 0
}
.style-4,
.style-7 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  line-height: 18px;
  flex-shrink: 0
}
.style-4 {
  align-self: center;
  margin-left: 0;
  width: 192px
}
.style-7 {
  position: relative;
  margin-left: 50px;
  margin-top: 5px;
  width: 130px
}
.-container-0-container-1-row-2-column-2 {
  display: flex;
  margin-left: 101px;
  width: 19px;
  height: 69px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style-12,
.style-14,
.style-16 {
  background-color: #fff;
  height: 19px
}
.-container-0-container-1-row-2-column-3 {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 55px;
  height: 59px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style-11,
.style-13,
.style-15 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  height: 7px
}
.style-15 {
  height: 9px
}
.-container-0-container-1-row-2-column-4 {
  display: flex;
  margin-left: 151px;
  margin-top: 5px;
  width: 50px;
  height: 58px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style-19,
.style-20,
.style-21 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  height: 7px
}
.style-21 {
  height: 9px
}
.-container-0-container-1-row-2-column-5 {
  display: flex;
  margin-left: 36px;
  margin-top: 5px;
  width: 88px;
  height: 59px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between
}
.style-22,
.style-23,
.style-24,
.style-5 {
  color: #fff;
  font-family: Montserrat,serif;
  font-size: .5625em;
  font-weight: 300;
  height: 7px
}
.style-23,
.style-24,
.style-5 {
  height: 9px
}
.style-5 {
  text-decoration: underline solid #fff;
  margin-left: 143px;
  margin-top: 9px;
  flex-shrink: 0
}
.style-2 {
  background-color: #177db8;
  position: relative;
  display: flex;
  margin-top: 51px;
  width: 100%;
  height: 53px;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style-3 {
  color: #fff;
  text-align: center;
  font-family: Montserrat,serif;
  font-size: 0;
  font-weight: 300;
  height: 9px
}